@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --main : #313131;
    --violet : #8a3dcb;
}

/*General sides*/
*, *::before, *::after {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body, button {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

/*End General sides*/

/*Header*/

nav {
    width: 100%;
    position: relative;
    z-index: 50;
}
.container {
    position: relative;
    z-index: 5;
    max-width: 92rem;
    padding: 0 4rem;
    margin: 0 auto;
}
nav .container {
    display: flex;
    justify-content: space-between;
    height: 8rem;
    align-items: center;
}
.logo {
    width: 60px;
    display: flex;
    align-items: center;
}
.links ul{
    display: flex;
}

.links a {
    display: inline-block;
    padding: 0.9rem 1.2rem;
    color: white;
    font-size: 0.9rem;
    line-height: 1;
    transition: 0.3s;
    letter-spacing: 0.7px;
}
.links a:hover {
    color: var(--violet);
}

.content h1 {
    font-size: 60px;
    font-weight: 800;
    margin-top: 24px;
    margin-bottom: 0px;
    color: white;
}

.content h1 span {
    color: white;
}
.content h2 {
    font-size: 40px;
    font-weight: 800;
    margin-top: 24px;
    margin-bottom: 10px;
    color: var(--main);
}
i {
    cursor: pointer;
}
.content p {
    font-size: 25px;
    color: white;
    text-align: right;
}
.content {
    float: right;
    margin-right: 10%;
    margin-top: 10%;
}
.content .btn {
    display: inline-block;
    width: 60%;
    font-size: 15px;
    background-color: var(--light);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 6%;
    text-decoration: none;
    color: var(--violet);
    margin-top: 50px;
    border-style: solid;
    border-width: 2.5px;
    border-color: var(--violet);
    padding: 17px 10px;
    margin-left: 40%;
    transition: 0.3s;
}
.content .btn:hover {
    color: white;
    border-color: white;
}
.name {
    margin-bottom: 20%;
}
.content .name h1{
    line-height: 30%;
    margin-bottom: 10%;
    text-align: right;
    font-size: 6rem;
    color: var(--violet);
    letter-spacing: -4px;
}
.content .name h2{
    line-height: 35%;
    margin-left: 9%;
    text-align: right;
    font-size: 6rem;
    color: white;
    letter-spacing: -4px;
}
.content .name h2 span{
    color: var(--violet);
}
span {
    color: var(--violet);
}
.square {
    margin-top: -3%;
    margin-left: 75%;
    margin-bottom: 6%;
    width: 70px;
    height: 8px;
    background-color: white;
}
/*End Header*/


.item {
    /* border-style: solid;
    border-width: 2px;
    border-color: white; */
    height: 70vh;
}

.about.container {
    display: grid;
    height: 85vh;
    grid-template-columns: repeat(12,1fr);
    column-gap: 12px;
    align-items: center;
}

.about .item-1 {
    grid-column: 1 / span 4;
    margin: 0 auto;
}

.about .item-1 img {
    width: 70%;
    margin-top: 10%;
    margin-left: 15%;
}

.about .item-2 {
    grid-column: 5 / span 4;
}
.about .item-3 {
    grid-column: 9 / span 3;
}


.info {
    padding: 30px 40px;
}
.info-2 {
    padding-top: 97px;
}
.info-2 h3 {
    padding-bottom: 2px;
    color: var(--violet);
    font-size: 0.9rem;
    font-weight: 600;
}
.info h2 {
    padding-bottom: 50px;
    margin-top: -20px;
    color: white;
    font-size: 2rem;
}
info h3 p {
    margin-left: 10px;
}
.info h3 {
    padding-bottom: 2px;
    color: var(--violet);
    font-size: 0.9rem;
    font-weight: 600;
}
.info p {
    color: white;
    font-size: 1rem;
    font-weight: 400;
}
.info-2 p {
    color: white;
    font-size: 1rem;
    font-weight: 400;
}
.contentinfo {
    padding-bottom: 15px;
    padding-left: 30px;
}
.btn {
    margin-left: 30px;
    display: inline-block;
    width: 40%;
    background-color: var(--light);
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: var(--violet);
    margin-top: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--violet);
    transition: 0.3s;
    padding: 10px 10px;
    font-size: 0.8rem;
}
.btn:hover {
    color: white;
    border-color: white;
}
.btn i {
    display: inline-block;
    padding-left: 10px;
    font-size: 10px;
}

.info-2 .title-header {
    color: white;
    margin-top: 55%;
    margin-left: 70%;
    font-size: 2.5rem;
    letter-spacing: -2px;
    text-align: right;
}
.title-header h2  {
    color: white;
}
.title-header .square {
    background-color: var(--violet);
    width: 115%;
    
}

/*other start*/

.other {
    /* border-style: solid;
    border-width: 2px;
    border-color: white; */
    height: 40vh;
}

.about.container {
    display: grid;
    height: 85vh;
    grid-template-columns: repeat(12,1fr);
    column-gap: 12px;
    align-items: center;
}

.about .item-4 {
    grid-column: 1 / span 6;
}

.about .item-5 {
    grid-column: 8 / span 12;
}
.about .item-6 {
    grid-column: 1 / span 6;
}
.stats {
    margin-top: 20px;
    margin-left: 90px;
}
.stats i {
    color: var(--violet);
    font-size: 1.5rem;
    padding-right: 10%;
    padding-bottom: 3%;
}
.stats li {
    color: white;
}
.other h2 {
    padding-top: 6%;
    padding-left: 50px;
    font-size: 2rem;
    color: white;
}
.stats p {
    padding-top: 5px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 0.8rem;
}
.skills {
    text-align: left;
    color: white; 
    padding-left: 20px;
  }
  .container-2 {
    width: 90%; 
    background-color: white; 
  }
  .html {width: 90%; background-color: var(--violet);} 
  .css {width: 30%; background-color: var(--violet);} 
  .js {width: 70%; background-color: var(--violet);}
  .php {width: 50%; background-color: var(--violet);} 

.stats img {
    padding: 10px;
    width: 10%;
}

.contact-us {
    /* margin-top: -50px;
    border-style: solid;
    border-width: 2px;
    border-color: white; */
    height: 70vh;
}
.about .item-8 {
    grid-column: 6 / span 6;
}
.about .item-9 {
    grid-column: 1 / span 4;
}
.about .item-10 {
    grid-column: 5 / span 4;
}
.about .item-11 {
    grid-column: 9 / span 6;
}
.about .item-9 h1{
    margin-top: 120px;
}
.contact-us h1 {
    font-size: 3.5rem;
    letter-spacing: -2px;
    color: white;
    padding: 30px 60px 0px 60px;
}
.square2 {
    background-color: var(--violet);
    width: 12%;
    padding: 3px;
    margin-left: 63px;
    margin-bottom: 6%;
}
.contact-me .contentinfo {
    margin-left: 70px;
    margin-bottom: 10px;
}
.contact-me .contentinfo h3{
    color: var(--violet);
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: -1px;
}
.contact-me .contentinfo p{
    color: white;
    font-weight: 200;
    font-size: 1rem;
    letter-spacing: -1px;
}
.contentinfo i{
    color: white;
    padding-right: 10%;
}

/*other end*/
.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4000px, 1fr));
    grid-gap: 5px;
}
.wrapper img {
    width: 10%;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--violet);
    border-width: 2px;
}
.box {
    padding: 20px;
}